@media all and (min-width: 480px) {
  .carde {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    height: 550px;
  }

  .carde:hover {
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2);
  }

  .containe {
    margin-top: 1em;
    margin-left: 10em;
  }
}
